@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}
body {
  background-color: #1d3d72;
  overflow-x: hidden;
}

#logo {
  height: auto;
  margin-bottom: 20px;
  width: 420px;
}

main {
  display: flex;
  justify-content: space-between;
}

main > div {
  flex-basis: 50%;
}

.left-side {
  display: flex;
  flex-direction: column;
}
/*remove scrollbar */
::-webkit-scrollbar {
  display: none;
}

.menu-icones {
  color: #fff;
}

.menu-icones ul {
  display: inline;
}

.menu-icones ul li {
  display: inline;
  height: 60px;
  padding: 0px 10px;
  line-height: 55px;
}

.menu-icones ul li a {
  color: #ffffff;
  text-decoration: none;
}

.menu-icones ul li a:hover {
  color: #3268d8;
  text-decoration: none;
}

.fecharMinimizar {
  color: #fff;
  float: right;
}

.fecharMinimizar ul {
  list-style-type: none;
}

.fecharMinimizar ul li {
  height: 30px;
  padding: 0px 10px;
  line-height: 20px;
}

.fecharMinimizar ul li #fechar {
  color: #3268b8;
}

.fecharMinimizar ul li #fechar:hover {
  color: #c90000;
}

.fecharMinimizar ul li #minimizar {
  color: #3268b8;
}

.fecharMinimizar ul li #minimizar:hover {
  color: #ffffff;
}

.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

.doc button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

.doc button.alt {
  color: #42b983;
  background-color: transparent;
}