@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
}
#alterar-senha {
  background-color: #ffffff;
  overflow-x: hidden;
  border-radius: 5px;
  border: solid 1px #cecece;
  text-align: left;
  padding: 0;
}

main {
  display: flex;
  justify-content: space-between;
}

main > div {
  flex-basis: 100%;
}

/*remove scrollbar */
::-webkit-scrollbar {
  display: none;
}

.alterar-senha {
  color: #4a4a4a;
  font-size: 14px;
  width: 100%;
  height: 345px;
  padding: 25px 40px;
}
.alterar-senha h1 {
  font-weight: lighter;
  font-size: 18px;
  margin-bottom: 20px;
}

.botoes{
  text-align: right;
}

.icn-btn {
  margin: 0px 4px;
  height: 20px;
}

.btn-txt-branco{
  color: #ffffff !important;
}

.v-input__slot {
  min-height: 30px !important;
  padding: 8px !important;
}
.v-input input {
    max-height: 20px !important;
}



.welcome {
  color: #555;
  font-size: 23px;
  margin-bottom: 10px;
}

.title {
  color: #2c3e50;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 6px;
}

.title.alt {
  font-size: 18px;
  margin-bottom: 10px;
}

.doc p {
  color: black;
  margin-bottom: 10px;
}

.doc button {
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;
  color: #fff;
  background-color: #4fc08d;
  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid #4fc08d;
}

.doc button.alt {
  color: #42b983;
  background-color: transparent;
}